/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  text-decoration: none;
  color: #FDFDFD;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Roboto', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Roboto', sans-serif;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
img {
  max-width: 100%;
  height: auto;
}
.whole-container {
  max-width: 100%;
  margin: 0 auto;
}
.container {
  max-width: 1440px;
  margin: 0 auto;
}
.container1300 {
  max-width: 1300px;
  margin: 0 auto;
}
.container-nav-bar {
  position: sticky;
  top: 0;
  background-color: #7EB2B7;
}
.container-nav-bar h1 {
  color: #FDFDFD;
  font-weight: bold;
}
@media (max-width: 800px) {
  .container-nav-bar {
    position: static;
  }
}
.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 0rem;
  width: 95%;
  color: #FDFDFD;
  margin: 0 auto;
}
@media (max-width: 800px) {
  .nav-bar {
    text-align: center;
    width: 85%;
    flex-direction: column;
  }
}
nav {
  width: 50%;
  display: flex;
  justify-content: space-around;
  font-size: 2rem;
}
@media (max-width: 800px) {
  nav {
    width: 100%;
    padding-top: 2rem;
    font-size: 1.6rem;
  }
}
.footer {
  width: 100%;
  background: #DADADA;
}
.footer p {
  text-align: center;
  color: #23272A;
  font-size: 1.9rem;
  padding: 30px;
}
header {
  display: flex;
  height: 70vh;
  background: linear-gradient(90deg, #F5F5F5 50%, #E3F3F5 50%);
}
@media (max-width: 800px) {
  header {
    background: none;
    height: 50vh;
  }
}
header h2 {
  font-size: 7.2rem;
  color: #177C84;
  padding-left: 10%;
}
@media (max-width: 800px) {
  header h2 {
    padding-left: 0;
    font-size: 4.9rem;
    text-align: left;
  }
}
@media (max-width: 500px) {
  header h2 {
    font-size: 3.9rem;
  }
}
.container-head {
  display: flex;
  width: 1440px;
  margin: 0 auto;
}
.right-side {
  background: #E3F3F5;
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: center;
}
@media (max-width: 800px) {
  .right-side {
    display: none;
  }
}
.right-side img {
  width: 800px;
}
@media (max-width: 800px) {
  .right-side img {
    display: none;
  }
}
.left-side {
  background: #F5F5F5;
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: center;
  align-items: center;
  text-align: left;
}
@media (max-width: 800px) {
  .left-side {
    width: 100%;
  }
}
.width-95 {
  width: 98%;
}
@media (max-width: 800px) {
  .width-95 {
    width: 70%;
    margin: 0 auto;
  }
}
@media (max-width: 500px) {
  .width-95 {
    width: 80%;
    margin: 0 auto;
  }
}
.sign-up {
  margin-top: 10%;
  width: 70%;
  height: 102px;
  border-radius: 70px;
  border: none;
  background: #177C84;
  font-size: 4.8rem;
  color: #F5F5F5;
}
@media (max-width: 500px) {
  .sign-up {
    width: 26rem;
    height: 65px;
    font-size: 2.2rem;
  }
}
.features {
  text-align: center;
  font-size: 8rem;
  color: #6C7A89;
  padding-top: 5%;
}
@media (max-width: 800px) {
  .features {
    font-size: 7rem;
  }
}
@media (max-width: 500px) {
  .features {
    font-size: 4rem;
  }
}
.whole-container-content-dw {
  background: #FDFDFD;
}
.whole-container-content-ow {
  background: #F5F5F5;
}
.cs-bg-dw {
  background: #FDFDFD;
}
.content-section {
  margin: 0px 0;
  padding: 10% 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
@media (max-width: 500px) {
}
.content-section .text-content {
  width: 45%;
  padding-right: 0%;
  font-size: 6.4rem;
}
.content-section .text-content h2 {
  font-size: 6.4rem;
  color: #6C7A89;
  font-weight: bold;
  padding-bottom: 5%;
}
.content-section .text-content p {
  font-size: 4.8rem;
  width: 95%;
  line-height: 5.6rem;
  text-align: left;
}
@media (max-width: 800px) {
  .content-section .text-content p {
    font-size: 2.8rem;
  }
}
@media (max-width: 500px) {
  .content-section .text-content p {
    font-size: 2.4rem;
    line-height: 30px;
    margin: 0 auto;
  }
}
@media (max-width: 500px) {
  .content-section .text-content {
    width: 99%;
    text-align: center;
  }
  .content-section .text-content h2 {
    font-size: 4.2rem;
  }
}
.content-section .img-content {
  width: 40%;
  padding-left: 1%;
}
@media (max-width: 500px) {
  .content-section .img-content {
    display: none;
  }
}
@media (max-width: 500px) {
  .inverse-content {
    display: flex;
    flex-direction: column-reverse;
  }
}
.inverse-content .text-content {
  padding-left: 1%;
  padding-right: 0;
}
.inverse-content .img-content {
  padding-right: 1%;
  padding-left: 0;
}
