


.about-title {
  text-align: center;
  padding: 6rem 0;
  font-size: 6rem;
  color: @darkgrey;
  @media @tablet {
    padding: 3rem 0;
    font-size: 4rem;
    }
    @media @phone {
      padding-bottom: .5rem;
    }
}

.container-about-top {
  width: 80%;
  display: flex;
  margin: 0 auto;
  justify-content: space-around;
  
  //border: red solid 2px;
  //align-content: center;
  padding: 3rem 0;
  //background-color: @mediumgreen
  @media @phone {
    flex-direction: column;
    align-items: center;
  }

}

.acolor {
 color: black;
 font-size: 2rem;

}

.content4 {
  width: 24%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
   @media @phone { 
    width: 80%;
    padding-bottom: 1.8rem;;
  }
  
  .h2about {
  font-size: 4rem;
  @media @tablet {
    font-size: 2.4rem;
    text-align: center;
    }  
    @media @phone {
    padding: .5rem 0;
    }
}


  h2{
    padding-top:1rem;
    font-size: 3.5rem;
    @media @phone {
      padding: .5rem 0;
      }
  }
  h3 {
    font-size: 2.5rem;
    padding: 1.5rem 0;
    @media @tablet {
      font-size: 2rem;
      padding: .8rem;
      }
      @media @phone {
        padding: .2rem 0;
      }
  }
  p {
    text-align: justify;
    width: 75%;
  }
}

.img-circle {
  border-radius: 190px;
  width: 70%;
  
}




.fa-github {
  font-size: 3rem;
}